[submodule "content/msaCommon"]
	path = content/msaCommon
	url = https://ehlersd@github.com/DoubleNode/msaCommon.git
[submodule "content/msaCalculator"]
	path = content/msaCalculator
	url = https://ehlersd@github.com/DoubleNode/msaCalculator.git
